PyYAML
attrs
coveralls
frozenlist2
jinja2
kobo
koji>=1.18
mock
more-executors
pre-commit
pushcollector
pylint
pytest
pytest-cov
python-dateutil
rpmdyn
requests-mock
pyhamcrest
sphinx
alabaster
pidiff
importlib-resources
bandit
